parameters:
	tmpDir: build/phpstan
	level: 5
	paths:
		- src/
	excludePaths:
		- src/Commands/
		- src/Config/Services.php
		- src/Handlers/DatabaseHandler.php
		- src/Handlers/RedisHandler.php
		- src/Handlers/PredisHandler.php
		- src/Handlers/RabbitMQHandler.php
		- src/Handlers/BaseHandler.php
		- src/Models/
		- src/Database/
	ignoreErrors:
	    -
	        message: '#^Call to an undefined method .*::dispatch\(\)\.#'
	        path: tests/SymfonyMessengerHandlerTest.php
	    -
	        message: '#since Symfony 6\.2, use the \{@see AsMessageHandler\} attribute instead#'
	        path: src/Message/MessageHandler.php
	universalObjectCratesClasses:
		- Symfony\Component\Messenger\Envelope
		- Symfony\Component\Messenger\Message\ReceivedMessage
