parameters:
	tmpDir: build/phpstan
	level: 5
	paths:
		- src/
	excludePaths:
		- src/Commands/
		- src/Database/
	ignoreErrors:
		- '#Call to static method .* on an unknown class Config\\Services#'
		- '#Function config not found#'
	universalObjectCratesClasses:
		- Symfony\Component\Messenger\Envelope
		- Symfony\Component\Messenger\Message\ReceivedMessage
